<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 리스트</title>
    <meta charset="UTF-8">
    <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/top.css">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">

</head>

<body>
<th:block th:replace="~{fragments/navbar :: navbarFragment}"></th:block>

<div class="product-container">
    <div class="category-name" th:if="${All}">
        <h1 class="product-Menu">ALL</h1><span class="red-dot">.</span>
    </div>
    <div class="category-name" th:each="productCategory : ${categories}" th:unless="${All != null}">
        <h1 class="product-Menu" th:each="child : ${productCategory.children}" th:if="${categoryId == child.id}" th:text="${child.name}"></h1>
                <span class="red-dot">.</span>
    </div>

    <div class="Category-List">
        <div class="category-menu" th:each="productCategory : ${categories}">
            <a class="category-slot" href="/product/0" th:classappend="${All} ? 'categoryActive' : ''">All</a>
            <a class="category-slot" th:href="@{'/product/' + ${child.id}}" th:classappend="${child.id == categoryId} ? 'categoryActive' : ''" th:each="child : ${productCategory.children}" th:text="${child.name}"></a>
        </div>
    </div>

    <div class="product-List">
        <div class="product-Card" th:each="product : ${product}">
            <div>
                <a th:href="@{/product/detail/{id}(id=${product.id})}">
                <img class="img" th:src="${product.titleImgUrl}">
            </a>
            </div>
            <div class="product-TextBox">
                <a class="product-category" th:text="${product.productCategory.name}" th:href="@{/product/detail/{id}(id=${product.id})}"></a>
                <a class="product-title" th:text="${product.title}" th:href="@{/product/detail/{id}(id=${product.id})}"></a>
                <div class="product-subBox">
                    <a class="product-sub" th:text="${product.subTitle}" th:href="@{/product/detail/{id}(id=${product.id})}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>