<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">  <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<script th:inline="javascript">
    var errorMessage = /*[[${errorMessage}]]*/ '';
    if (!errorMessage) {
    }else if(errorMessage !== '') {
        alert(errorMessage);
        window.location.href = '/admin';
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }
</script>
<script>
    $(document).ready(function() {
        $('#category').removeClass('text-white').addClass('active');
    });
</script>
<body>

<div class="d-flex bg-light vh-100">
    <th:block th:replace="~{fragments/adminSidebar :: adminSidebarFragment}"></th:block>
    <div class="container-xxl mb-4 d-flex justify-content-center">
        <form  role="form" method="post" enctype="multipart/form-data" th:object="${categoryDTO}">

            <p th:unless="${categoryDTO.id}" class="h2">카테고리 등록</p>
            <p th:if="${categoryDTO.id}" class="h2">카테고리 수정</p>

            <input type="hidden" th:field="*{id}">

            <div class="input-group mb-3">
                <input type="hidden" th:field="*{categoryImg}" class="form-control" placeholder="이미지">
                <img id="preview" th:src="*{categoryImg}" style="width: 20%;">
                <input type="file" class="form-control" name="Img" onchange="readURL(this)">
            </div>
            <p th:if="${#fields.hasErrors('categoryImg')}" th:errors="*{categoryImg}" class="fieldError">Incorrect data</p>



            <div class="input-group mb-3">
                <span class="input-group-text">카테고리 이름</span>
                <input type="text" th:field="*{name}" class="form-control" placeholder="카테고리명을 입력해주세요">
            </div>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>

            <div class="input-group mb-3">
                <span class="input-group-text">카테고리 소개</span>
                <input type="text" th:field="*{categorySubTitle}" class="form-control" placeholder="소개명을 입력해주세요">
            </div>
            <p th:if="${#fields.hasErrors('categorySubTitle')}" th:errors="*{categorySubTitle}" class="fieldError">Incorrect data</p>


            <div class="input-group mb-3" th:if="${#strings.isEmpty(categoryDTO.id)}">
                <span class="input-group-text">종류</span>
                <select th:field="*{parentId}" class="form-select">
                    <option selected th:if="${categories?.isEmpty()}" th:value="${null}">1단</option>
                    <option th:each="categories : ${categories}" th:value="${categories.id}" th:text="${categories.name}"></option>
                </select>
            </div>

            <div th:if="${#strings.isEmpty(categoryDTO.id)}" style="text-align: center">
                <button th:formaction="@{/admin/category/categoryAdd}" type="submit" class="btn btn-primary">저장</button>
            </div>

            <div th:unless="${#strings.isEmpty(categoryDTO.id)}" style="text-align: center">
                <button th:formaction="@{'/admin/category/' + ${categoryDTO.id} }" type="submit" class="btn btn-primary">수정</button>
                <button th:formaction="@{'/admin/category/delete/' + ${categoryDTO.id}}" type="submit" class="btn btn-danger" onclick="return confirm('카테고리를 삭제하면 해당 게시글,하위 카테고리가 삭제 됩니다.')">삭제</button>
            </div>
        </form>

    </div>
</div>
<script>
</script>
</body>
</html>