<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbarFragment">
  <nav class="nav-bar">
      <a href="/"><img class="logoImg" src="https://todaybutt.s3.ap-northeast-2.amazonaws.com/images/logo.png"></a>
      <div class="menu-container">
          <ul class="menu">
              <li class="menu-item" th:each="productCategory : ${categories}">
                  <a class="menu-link" th:text="${productCategory.name}">Product</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/product/0">All</a></li>
                      <li th:each="child : ${productCategory.children}">
                          <a class="dropdown-item category-link" th:href="@{'/product/' + ${child.id}}" th:text="${child.name}" th:data-category-id="${child.id}">Child Category</a>
                  </ul>
              </li>
              <li class="menu-item">
                  <a class="menu-link">About</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/about">About</a></li>
                      <li><a class="dropdown-item" href="#">Calendar of Events</a></li>
                      <li><a class="dropdown-item" href="/about/partners">Partners</a></li>
                  </ul>
              </li>

              <li class="menu-item">
                  <a class="menu-link">Support</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/support/userGuide">User Guide</a></li>
                      <li><a class="dropdown-item" href="/support/videoList">Video</a></li>
                      <li><a class="dropdown-item" href="#">Catalog</a></li>
                  </ul>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/contact">Contact</a>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</th:block>
</body>
</html>