<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbarFragment">
  <nav class="nav-bar">
      <a href="/"><img class="logoImg" src="https://todaybutt.s3.ap-northeast-2.amazonaws.com/images/logo.png"></a>
      <div class="menu-container">
          <ul class="menu">
              <li class="menu-item" th:each="productCategory : ${categories}">
                  <a class="menu-link" th:text="${productCategory.name}">Product</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/product/0">All</a></li>
                      <li th:each="child : ${productCategory.children}">
                          <a class="dropdown-item category-link" th:href="@{'/product/' + ${child.id}}" th:text="${child.name}" th:data-category-id="${child.id}">Child Category</a>
                  </ul>
              </li>
              <li class="menu-item">
                  <a class="menu-link">About</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/about">About</a></li>
                      <li><a class="dropdown-item" href="/about/CalendarOfEvents">Calendar of Events</a></li>
                      <li><a class="dropdown-item" href="/about/partners">Partners</a></li>
                  </ul>
              </li>

              <li class="menu-item">
                  <a class="menu-link">Support</a>
                  <ul class="dropdown">
                      <li><a class="dropdown-item" href="/support/userGuide">User Guide</a></li>
                      <li><a class="dropdown-item" href="/support/videoList">Video</a></li>
                      <li><a class="dropdown-item" href="/support/catalog">Catalog</a></li>
                  </ul>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/contact">Contact</a>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="mobile">
          <div class="mobile-Open" onclick="openMenu()">
          <svg xmlns='http://www.w3.org/2000/svg' width='30px' height='30px' viewBox="0 0 24 24"><title>menu_line</title><g id="menu_line" fill='none' fill-rule='nonzero'><path d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/><path fill='#09244BFF' d='M20 18a1 1 0 0 1 .117 1.993L20 20H4a1 1 0 0 1-.117-1.993L4 18h16Zm0-7a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2h16Zm0-7a1 1 0 1 1 0 2H4a1 1 0 0 1 0-2h16Z'/></g></svg>
          </div>
          <div id="mobile-menu" class="mobile-menu" style="display: none">
            <div class="mobile-close">
                <svg onclick="closeMenu()" xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox="0 0 24 24"><title>close_line</title><g id="close_line" fill='none' fill-rule='evenodd'><path d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/><path fill='#09244BFF' d='m12 13.414 5.657 5.657a1 1 0 0 0 1.414-1.414L13.414 12l5.657-5.657a1 1 0 0 0-1.414-1.414L12 10.586 6.343 4.929A1 1 0 0 0 4.93 6.343L10.586 12l-5.657 5.657a1 1 0 1 0 1.414 1.414L12 13.414Z'/></g></svg>
            </div>
          </div>

      </div>
  </nav>
</th:block>
</body>
</html>