
.aboutBox{
    padding:  60px 0px 100px 0px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}
.top-text{
    display: flex;
    flex-direction: column;
    font-size: 54px;
    background: linear-gradient(to right top, #F43F5E, #9747FF);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: 800;
}
.middle-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.bottom-text{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #64748B;
    font-size: 16px;
    text-align: center;
}


@media (min-width: 1920px) {
    .top-text{
        font-size: 62px;
    }
    .middle-text{
        font-size: 34px;
    }
    .bottom-text{
        font-size: 20px;
    }
}

