body{
    margin: 0;
}
.productBox{
    width: 100%;
    background-color: #F8FAFC;
    padding: 100px;
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.productMenu{
    gap: 20px;
    display: flex;
    justify-content: center;
}


.productImg{
    width: 100%;
    height: 470px;
    border-radius: 20px;
}


.product-container {
    position: relative;
    width: 100%;

}

.image-container {
    position: relative;
}

.textBox {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    background: linear-gradient(to top, rgb(0 0 0 / 60%), rgba(0, 0, 0, 0));
    padding: 10px;
    color: white;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 32px;
    display: block;
    overflow: hidden;
}

.content {
    font-size: 18px;
    display: block;
}

.cbtn {
    padding: 10px 15px 10px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    display: none;
    margin-top: 10px;
    background-color: #f8fafc00;
    font-size: 14px;
}

.product-container:hover .textBox .cbtn {
    display: block;
}

.CalendarEventsBox{
    background-image: url("https://todaybutt.s3.ap-northeast-2.amazonaws.com/images/back3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 920px;
    padding: 100px;
    box-sizing: border-box;
}

.CalendarEventsBtn {
    padding: 10px 15px 10px 15px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #f8fafc00;
    width: 80%;
    color: white;
}
.CalendarEventsBtn a{
    color: white;
    font-size: 20px;
}

.CalendarEventsText{
    color: white;
    font-size: 48px;
    margin: 0;
}
.CalendarEventsCategory{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.CalendarFirst{
    width: 330px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.CalenderMenu{
    width: 330px;
    height: 560px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

.carousel_main {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
}

.carousel_wrapper {
    display: flex;
    transition: transform 1s;
}

.carousel_slide {
    flex: 0 0 100%;
    position: relative;
}

.carousel_slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel_prev {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_next {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_pagination {
    display: flex;
    align-items: center;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}

.carousel-Box{
    position: absolute;
    top: 100px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border-radius: 15px;
    place-items: center;
    text-align: center;
    width: 100%;
}
.carousel-TextBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.carousel-title{
    font-weight: 700;
    font-size: 60px;
    color: #0F172A;
}
.carousel-body{
    font-weight: 700;
    font-size: 30px;
}
.carousel-btn{
    width: 164px;
    height: 48px;
    border-radius: 6px;
    padding: 12px 20px 12px 20px;
    background-color: #F43F5E;
    font-size: 16px;
    color: white;
    border-color: #f5deb300;
}

@media screen and (max-width: 425px) {

    .productBox {
        padding: 20px;
    }

    .product-container:hover .textBox{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(to top, rgb(0 0 0 / 80%), rgb(0 0 0 / 80%))
    }
}

.Calendar-Event{
    display: flex;
    gap: 30px;
}
.event-contentBox{
    height: 300px;
    width: 210px;
}
.CalendarEventsBox{
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .productImg{
        height: 200px;
    }
    .Calendar-Event{
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .event-img{
        width: 275px !important;
        border-radius: 12px;
    }
}
@media screen and (max-width: 1024px) {
    .productImg {
        width: 330px;
        height: 300px;
    }
    .CalendarFirst{
        height: 300px;
        width: 280px;
    }
    .CalendarEventsCategory{
        justify-content: center;
        flex-direction: column;
    }
    .CalendarEventsText{
        font-size: 40px;
    }
    .CalendarEventsBtn a{
        color: white;
        font-size: 16px;
    }
    .productMenu{
        display: flex;
        justify-content: normal;
        overflow: scroll;
        width: 100%;
    }
    .carousel-title{
        font-size: 35px;
    }
    .carousel-body{
        font-size: 25px;
    }
}


@media screen and (min-width: 1200px) {
    .carousel_slide img {
        height: 680px;
    }
    .carousel-Box{
        top: 200px;
        left: 220px;
        gap: 60px;
        padding: 10px;
        place-items: normal;
        text-align: left;
    }

}
@media screen and (min-width: 1440px) {
    .carousel_slide img {
        height: 780px;
    }
}


@media screen and (min-width: 1920px) {
    .title{
        font-size: 40px;
    }
    .content{
        font-size: 24px;
    }
    .cbtn{
        font-size: 21px;
    }
    .carousel_slide img {
        height: 980px;
    }
    .carousel-Box{
        top: 258px;
        left: 260px;
        gap: 60px;
        padding: 10px;
        place-items: normal;
        text-align: left;
    }
    .carousel-title{
        font-size: 60px;
    }
    .carousel-body{
        font-size: 30px;
    }
    .carousel-btn{
        width: 240px;
        height: 60px;
        padding: 14px 40px 14px 40px;
        font-size: 20px;
    }
    .carousel_circle {
        width: 20px;
        height: 20px;
        background-color: #aaa;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    .pagination-button{
        width: 50px;
        height: 50px;
    }

}