a { text-decoration:none !important }
a:hover { text-decoration:none !important }
p { text-decoration:none !important }
p:hover { text-decoration:none !important }
h4 { text-decoration:none !important }
h4:hover { text-decoration:none !important }

html,body{
    height: 100%;
}
.product-container{
    height: auto;
    min-height: 100%;
}

.footer{
    background-color: #F8FAFC;
    padding: 20px 190px 20px 190px;
    position: relative;
    transform: translateY(100%);
}
.footer a{
font-size: 14px;
}

body {
 font-family: SUITE;
    margin: 0;
}

.mobile{
    display: none;
}

.logoImg{
    width: 175px; height: 51px;
}

.nav-bar {
    align-items: center;
    width: 100%; height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    z-index: 1;
}
.menu-container {
    display: inline-block;
    margin-right: 40px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.LNG{
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    padding: 4px 12px 4px 20px;
}
.lng-box{
    display: flex;
    gap: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: -50px;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 9999; /* 다른 요소보다 위에 표시되도록 설정 */

    border-radius: 12px;
    overflow: hidden;
}
.dropdown li{
    width: 200px;
}

.menu-item:hover .dropdown {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-item:hover {
    background-color: #FFF1F2;
    color: #F43F5E;
    transition: background-color 0.3s ease;

}
.menu-link:hover {
    color: #F43F5E;
    transition: background-color 0.3s ease;

}
.nav-bar:hover {
    background-color: #FFF;
    transition: background-color 0.3s ease;
}
.red-dot{
    color:#F43F5E;
    font-size: 55px;
}
@media screen and (max-width: 1024px) {
    .footer{
        padding: 20px 10px 20px 50px;
    }

}

@media screen and (max-width: 1280px) {
    .mobile{
        display: block;
    }
    .LNG{
        font-size: 15px;
    }
    .mobile-menu{
        height: 100vh;
        width: 300px;
        right: 0;
        position: absolute;
        top: 0;
        z-index: 9999;
        background-color: #FFFFFF;
    }
    .mobile-close{
        display: flex;
        padding: 8px 16px 8px 16px;
        justify-content: flex-end;
        border-bottom: 1px solid #E2E8F0;
    }
    .logoImg{
        width: 124px;
        height: 40px;
    }
    .menu-container{
        display: none;
    }
    ul li{
        list-style: none;
    }
    #menu {
        color:black;
        margin:0 auto;
    }
    .menu-body {
        color:  #64748B;
        font-weight: 500;
        font-size: 16px;
    }
    .menu-top{
        font-size: 20px;
        font-weight: 700;
        color: #334155;
    }
    .up-btn{
        display: none;
    }
    #menu > ul > li > ul {
        display:none;
        margin: 0;
        padding: 0;
    }
    #menu > ul > li:hover > ul {
        gap: 16px;
        padding: 0px 32px 20px 32px;
        display: flex;
        flex-direction: column;
    }
    #menu > ul > li:hover .menu-tap a {
        color: #F43F5E;
    }
    #menu > ul > li:hover .up-btn {
        display: block;
    }
    #menu > ul > li:hover .down-btn {
        display: none;
    }
    .menu-tap{
        padding:   20px 24px 20px 24px;
        display: flex;
        justify-content: space-between;
    }

}