
.explanation-li{
    list-style: disc;
}
.lb-image{
    z-index: -2;
    position: relative;
}

.lb-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 오버레이 */
    z-index: -2;
}

.product-List{
    padding:  60px 0px 100px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    ustify-content: center;
    flex-wrap: wrap;
}
.product-Card{
    height: 100%;
    border: 1px solid #E2E8F0;
    width: 300px;
}
.product-TextBox{
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 210px;
}
.product-subBox{
    width: 200px;
    overflow: hidden;
}
.product-title{
    font-size: 17px;
    color: #334155;
    font-weight: 700;
}
.product-sub{
    font-size: 14px;
    color: #64748B;
}
.product-explanation{
    color : #64748B;
    font-size: 16px;
}

.product-titleBox{
    margin : 0 15px 0 10px;
}


.img {
    width: 300px;
    height: 199px;
    object-fit: fill;
}

.lb-wrap {
    position: relative;
}
.lb-wrap img {
    width: 100%;
    vertical-align: middle;
}
.lb-text {
    color: white;
    width: 60%;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.middle-title{
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    FONT-WEIGHT: 700;
}
.bottom-moreBox{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.bottom-more-text{
    color: #64748B;
}

.product-Card:hover {
    border: 1px solid #F43F5E;
    box-shadow: 0px 25px 50px -12px gray;
}
@media screen and (max-width: 745px) {
    .product-Card{
        width: 200px;
    }
    .product-explanation{
        font-size: 13px;
        padding-inline-start: 30px;
    }
    .bottom-more-text{
        font-size: 12px;
    }
    .product-title{
        font-size: 14px;
    }
    .img{
        width: 100%;
        height: 135px;
    }
    .middle-title{
        font-size: 14px;
    }
    .lb-text{
        font-size: 14px;
    }
    .product-subBox{
        width: 100%;
    }
    .product-List{
        padding: 20px 0px 100px 0px;
        justify-content: center;
    }
}

@media (min-width: 1920px) {
    .lb-text{
        font-weight: 700;
        font-size: 32px;
    }

    .product-TextBox{
        height: 250px;
    }
    .middle-title{
        font-size: 26px;
    }

    .product-explanation{
        font-size: 19px;
    }

    .product-Card{
    width: 400px;
    }

    .product-middle{
        width: 400px;
    }
    .bottom-more-text{
        font-size: 18px;
    }

    .product-subBox{
        width: 280px;
        overflow: hidden;
    }
    .product-title{
        font-size: 23px;
        color: #334155;
        font-weight: 700;
    }
    .product-sub{
        font-size: 20px;
        color: #64748B;
    }
    .img {
        width: 100%;
        height: 250px;
    }
}