
.product-List{
    padding:  60px 0px 100px 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.product-Card{
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}
.product-TextBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-subBox{
    width: 200px;
    overflow: hidden;
}
.product-category{
    font-size: 14px;
    color: #F43F5E;
    font-weight: 700;
}
.product-title{
    font-size: 20px;
    color: #334155;
    font-weight: 700;
}
.product-sub{
    font-size: 14px;
    color: #64748B;
}
.img {
    width: 200px;
    height: 199px;
    object-fit: fill;
    border-radius: 12px;
}

.product-Card:hover {
    border: 1px solid #F43F5E;
    box-shadow: 0px 25px 50px -12px gray;
}

@media (min-width: 1920px) {

    .product-subBox{
        width: 280px;
        overflow: hidden;
    }
    .product-category{
        font-size: 20px;
        color: #F43F5E;
        font-weight: 700;
    }
    .product-title{
        font-size: 26px;
        color: #334155;
        font-weight: 700;
    }
    .product-sub{
        font-size: 20px;
        color: #64748B;
    }
    .img {
        width: 282px;
        height: 300px;
        object-fit: fill;
        border-radius: 12px;
    }
}