<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Contact</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/nav.js"></script>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/top.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">

</head>
<script th:inline="javascript">
    var errorMessage = /*[[${errorMessage}]]*/ '';
    if (!errorMessage) {
    }else if(errorMessage !== '') {
        alert(errorMessage);
        console.log(errorMessage);
    }
</script>
<body>
<th:block th:replace="~{fragments/navbar :: navbarFragment}"></th:block>

<div class="product-container">
    <div class="category-name">
    <h1 class="product-Menu">Contact</h1><span class="red-dot">.</span>
    </div>
    <a class="big-name">Contact</a>
    <form class="contact-form" action="/contactAdd" role="form" method="post" th:object="${contactDTO}">

        <div class="name-flex">
        <div class="contactBox w-50">
            <a class="content-text">First name</a>
        <input type="text" th:field="*{firstName}" class="input-text" placeholder="First name">
        </div>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="fieldError">Incorrect data</p>

            <div class="contactBox w-50">
            <a class="content-text">Last name</a>
            <input type="text" th:field="*{lastName}" class="input-text" placeholder="Last name">
        </div>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="fieldError">Incorrect data</p>

        </div>

        <div class="contactBox">
            <a class="content-text">Email</a>
            <input type="email" th:field="*{userEmail}" id="userEmail" class="input-text" placeholder="you@company.com">
        </div>
        <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="fieldError">Incorrect data</p>


        <div class="contactBox">
            <a class="content-text">Message</a>
            <textarea class="text-message" th:field="*{message}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="fieldError">Incorrect data</p>


        <button type="submit" class="sendBtn">Send message</button>
    </form>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>

</body>
</html>
